.MajorNav {
  display: none;
}

.MajorNavSmall {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 15px auto;
  padding: 1px 15px;
  color: #5f6368;
  border: 1px solid #5f6368;
  border-radius: 30px;
}

.SelectStyle {
  padding: 0;
  margin: 0;
  border: none;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}

.SelectStyle select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .MajorNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 15px auto;
    padding: 1px 15px;
    color: #5f6368;
    border: 1px solid #5f6368;
    border-radius: 30px;
  }

  .ButtonGroup {
    display: flex;
    width: 50px;
    border: 1px solid #5f6368;
    border-radius: 50px;
  }
  .MajorNavSmall {
    display: none;
  }
}
