.FontCard {
  flex: 1;
  border-top: 1px solid #5f6368;
  margin: 15px 15px 40px 15px;
  padding: 5px;
  min-width: 200px;
  box-sizing: border-box;
}

.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.Text {
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .FontCard {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
  }

  .CardWidth250 {
    width: 250px;
  }

  .CardWidthFull{
    width: 96%;
  }
}
