.Button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0px 4px;
    font-size: 8px;
    font-weight: lighter;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Dark {
  width: 100%;
  padding: 6px;
  background-color: black;
  border: 1px solid #5f6368;
  border-radius: 50%;
}

.Light {
  width: 100%;
  padding: 6px;
  background-color: white;
  border: 1px solid #5f6368;
  border-radius: 50%;
}
