.Button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0px 4px;
    padding: 3px 3px;
    font-size: 8px;
    font-weight: lighter;
}

.Button:hover {
  box-shadow: 2px 1px #D85454;
}

.Button:first-of-type {
    margin-left: 0;
}

.white {
  width: 20px;
  height: 20px;
  padding: 6px;
  background-color: black;
  border: 1px solid #5f6368;
  border-radius: 50%;
}

.black {
  width: 20px;
  height: 20px;
  padding: 6px;
  background-color: white;
  border: 1px solid #5f6368;
  border-radius: 50%;
}
