.Input {
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  font-size: 12px;
  color: #40B0FF;
  background-color: transparent;
  margin: 5px 0px;
  padding: 2px 2px;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #FFEDED;
}

.Radio {
  display: inline-block;
  margin: 0px 3px;
  padding: 3px 10px;
}

.NoBorder {
  border-style: none none none none;
}

.RightBorder {
  border-style: none none none solid;
}
