.FontCards {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .FontCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
