.FontCards {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .FontCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .FontCardFlex {
    display: flex;
  }

  .FontCardBlock {
    display: block;
    margin-top: 30px;
  }
}
